#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Exec=gnome-terminal -e '/home/factory/Avalon-extras/scripts/factory/loop.sh "./burn-mm.sh MM761;./burn-pmu.sh mcu"'
Name[en_US]=BurnAvalon7_761firmware
Icon=gnome-panel-launcher
